*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /*scroll-behavior: smooth;
    scroll-padding-top: 3rem;*/
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color:#ffffff;
    --secound-bg-color:#f9f9f9;
    --text-color:#fff;
    --secound-color:#161616;
    --h2-color:rgb(194, 184, 184);
    --main-color:#ef0454;
    --other-color:#6a6a6a;
    --big-font:5.7rem;
    --h2-font: 3.8rem;
    --p-font:1rem;
}
body{
    background-image: radial-gradient(circle at center center, transparent 0%,rgb(0,0,0) 85%),linear-gradient(78deg, rgba(192, 192, 192,0.05) 0%, rgba(192, 192, 192,0.05) 50%,rgba(60, 60, 60,0.05) 50%, rgba(60, 60, 60,0.05) 100%),linear-gradient(227deg, rgba(97, 97, 97,0.05) 0%, rgba(97, 97, 97,0.05) 50%,rgba(52, 52, 52,0.05) 50%, rgba(52, 52, 52,0.05) 100%),linear-gradient(240deg, rgba(98, 98, 98,0.05) 0%, rgba(98, 98, 98,0.05) 50%,rgba(249, 249, 249,0.05) 50%, rgba(249, 249, 249,0.05) 100%),linear-gradient(187deg, rgba(1, 1, 1,0.05) 0%, rgba(1, 1, 1,0.05) 50%,rgba(202, 202, 202,0.05) 50%, rgba(202, 202, 202,0.05) 100%),linear-gradient(101deg, rgba(61, 61, 61,0.05) 0%, rgba(61, 61, 61,0.05) 50%,rgba(254, 254, 254,0.05) 50%, rgba(254, 254, 254,0.05) 100%),linear-gradient(176deg, rgba(237, 237, 237,0.05) 0%, rgba(237, 237, 237,0.05) 50%,rgba(147, 147, 147,0.05) 50%, rgba(147, 147, 147,0.05) 100%),linear-gradient(304deg, rgba(183, 183, 183,0.05) 0%, rgba(183, 183, 183,0.05) 50%,rgba(57, 57, 57,0.05) 50%, rgba(57, 57, 57,0.05) 100%),radial-gradient(circle at center center, hsl(351,4%,12%),hsl(351,4%,12%));
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    padding: 15px 6%;
}
.logo{
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--text-color) ;
}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist li{
    position: relative;
}
.navlist a{
    color: var(--text-color);
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 20px;
}
.navlist a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}
.navlist a:hover::after{
    width: 100%;
}
/*Langues*/
.language{
    position: relative;
    width: 120px;
    margin-left: 40px;
    font-weight: bold;
}

.language-selected{
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.language-selected:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("img/pt.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.language ul{
    position: absolute;
    list-style: none;
    width: 140px;
    background-color:transparent;
   /* border: 1px solid #f8f8f8;*/
    padding-top:10px ;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    display: none;
}
.language ul li a{
    display: block;
    color: #252525;
    padding-top: 5px 10px;
    padding-left: 5px;
}
.language ul li :hover{
    background-color: #8a84841e;
}

.language ul li a::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}

a.pt::before{
    background-image: url("img/pt.png");
}
a.fr::before{
    background-image: url("img/fr.png");
}
a.en::before{
    background-image: url("img/uk.png");
}
.language:hover ul{
    display: block;
}

#menu-icon{
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.h-btn a{
    color: var(--text-color);
    font-weight: 500;
    padding: 8px 26px;
    border: 2px solid transparent;
    transition: ease .40s;
}
.h-btn .sign-in{
    color: var(--text-color);
    background: var(--main-color);
    border-radius: 30px;
}
.h-btn .sign-in:hover{
    background: transparent;
    border: 2px solid var(--main-color);
}
section{
    padding: 120px 16%;
}
.home{
    height: 110vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}
.eu{
    float: right;
    width: 400px;
    margin-left: 250px;
    margin-bottom: 50px;
}
.home-text{
    padding-top: 120px;
}
.home-text h1{
    font-size: var(--big-font);
    color: var(--text-color);
    line-height: 1.11;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 0 0 25px;

}
.home-text h4{
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 1.21;
    font-weight: 700;
    margin-bottom: 40px;
}
.btn{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 33px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 30px;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: ease .30s;
}
.btn:hover{
    transform: translateY(-10px);
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
.count{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.count li{
    margin-right: 55px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
}
.count span{
    color: var(--text-color);
    font: 700;
    font-size: 1.8rem;
}

.about{
   
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 2rem;
}
.about-img img{
    max-width: 100%;
    width: 490px;
    height: auto;
   border-radius: 20px;
}
.about-text h2{
    font-size: var(--h2-font);
    color: var(--text-color);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.2rem;
}
.about-text h5{
    color: var(--secound-bg-color);
    font-size: 1.3rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.about-text p{
    font-size: var(--p-font);
    font-weight: 400;
    max-width: 570px;
    line-height: 1.8;
    color: var(--other-color);
    margin-bottom: 2.5rem;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: var(--h2-font);
    color: var(--h2-color);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 1.6;
}
.heading p{
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 1.8;
    color: var(--other-color);
}
.sevices-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;
}
.box{
    background: #161616;
    width: 400px;
    height: 300px;
    padding: 45px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .35s;
}
.box i{
   color: var(--main-color);
   font-size: 2.8rem;
   margin-bottom: 18px;
}
.box h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}
.box p{
    font-size: 16px;
    line-height: 30px;
}
.box:hover{
   box-shadow: 20px 20px 20px rgba(228, 222, 224);
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 2rem;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-top: 4.4rem;
}
.col{
    position: relative;
}
.col img{
    max-width: 100%;
    width: 620px;
    height: auto;
    border-radius: 10px;
}
.layer{
    background: transparent;
    height:100%;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: all .35s;
}
.layer:hover{
    background: linear-gradient(rgba(22, 22, 22, 0.5) 0%, #16141589 100%);
}
.layer h3{
    position: absolute;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .35s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.blog-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 2rem;
    align-items: center;
    cursor: pointer;
    margin-top: 4.4rem;
}
.blog-content .row img{
    max-width: 100%;
    width: 600px;
    height: auto;
    border-radius: 10px;
}
.row{
    padding: 0 0 30px 0;
    background: var(--bg-color);
    border-radius: 10px;
    transition: all .35s;
}
.row p{
    font-size: 14px;
    font-weight: 500;
    color: var(--other-color);
    margin: 10px 0px 8px 25px;
}
.row h3{
    font-size: 22px;
    line-height:1.45;
    font-weight: 600;
    transition: all .35s;
    margin: 10px 0px 8px 25px;
    color: var(--secound-color);
}
.row h3:hover{
    color: var(--main-color);
}
.contact{
    background: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.contact h2{
    color: var(--text-color);
    font-size: 1.9rem;
}
.contact .newslatter{
    background: var(--bg-color);
    margin-top: 1rem;
    border-radius: 30px;
    padding: 4px 10px;
    max-width: 100%;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.contact .newslatter input{
    border: none;
    outline: none;
}
.contact .newslatter .cta{
    background:var(--main-color) ;
    color: var(--text-color);
    padding: 8px 20px;
    border-radius: 30px;
}
.copyright{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.copyright p{
    font-size: 14px;
    font-weight: 500;
}
.icon a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    color: var(--text-color);
    font-size: 1.2rem;
    border-radius: 50%;
    transition: all .40s;
}
.icon a:hover{
    transform: translateY(-5%);
}
/*page lecture*/

.lecture h2{
    font-size: var(--h2-font);
    color: var(--text-color);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 1.11;
    font-weight: 800;
    letter-spacing: 1px;
    
}
.lecture p{
    text-align: justify;
    text-indent: inherit;
    justify-items: center;
    padding: 0 30px;
}
.lecture h4{
    text-align: center;
    color: var(--other-color);
    font-size: var(--h2-color);
}
.travaux {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
}
 h1{
    font-size: var(--h2-font);
    color: var(--text-color);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 1.11;
    font-weight: 800;
    letter-spacing: 1px;
}

.travaux img{
    max-width: 600px;
    max-height: 300px;
    margin-left: 15px;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px white;
}
.travaux p{
    max-width: 600px;
    padding: 15px;
    text-align: center;
    font-size: var(--p-font);
}

@media (max-width: 1380px){
    header{
        padding: 18px 2%;
        transition: .2s;
    }
    section{
        padding: 80px 2%;
       transition: .3s;
    }
    :root{
        --big-font: 4.7rem;
        --h2-font: 2.5rem;
    }
    .home-text h4{
        font-size: 1.2rem;
    }
    .count{
        display: flex;
    }
    .count span{
        font-size: 1.1rem;
       
    }
    .about{
        margin-top: 50px;
    }
    .about-text{
        padding-top: 150px;
    }
    .about-img{
        width: 70%;
        height: 50%;
    }
    
}

@media (max-width: 1120px){
    header{
        padding: 14px 2%;
    }
    .home{
        height: 95vh;
        padding-bottom: 20px;
    }
    #menu-icon{
        display: block;
    }
    .sign-in{
        display: none;
    }
    .navlist{
        position:absolute ;
        top: -600px;
        left: 0;
        right: 0;
        display:flex;
        flex-direction: column;
        background: var(--main-color);
        text-align: left;
        transition: all .35s ease;
    }
    .about{
        margin-top: 50px;
    }
    .navlist a{
    display: block;
    padding: 1rem;
    margin: 1.2rem;
    border-left: 2px solid var(--text-color);
    }
    .navlist a:hover{
        background: var(--text-color);
        color: var(--secound-color);
        border: none;
    }
    .navlist a::after{
        display: none;
    }
    .navlist.active{
        top: 100%;
    }
}
 @media (max-width: 1250px){
    .travaux {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px;
    }
    .travaux img{
        max-width: 450px;
        max-height: 300px;
        /*margin-left: 15px;*/
        padding: 10px 10px;
        border-radius: 15px;
        box-shadow: 2px 2px 5px white;
    }
    .travaux p{
        max-width: 600px;
        padding: 15px;
        text-align: center;
        font-size: var(--p-font);
    }
    
}
@media (max-width: 970px){
    .travaux{
       margin-left: 200px;
    }

}
@media (max-width: 770px){
    .travaux{
        width: auto;
        margin: 100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 15px;
        padding: 10px;
    }
    .travaux a,img{
        width: 500px;
        border-radius: 15px;
        box-shadow: 2px 2px 4px black; 
    }
    .desc{
        width: 400px;
    }
    .count{
        display: flex;
    }
    .count ul{
        margin: 10px;
    }
    .count span{
        font-size: 1.1rem;
       
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        margin-bottom: 40px;
        margin-left: 40px;
    }
    .about-text{
        text-align: center;
    }

    .about-text .btn{
        margin-left: 1.5rem;
    }
    .contact{
        text-align: center;
    }
    .contact h2{
        font-size: 1.4rem;
    }
    .copyright{
        justify-content: center;
        text-align: center;
    }
    .copyright p{
        margin-bottom: 30px;
    }
}
@media (max-width: 750px){
    :root{
        --big-font: 3.5rem;
        --h2-font: 1.9rem;
        --p-font: 0.9rem;
    }
}
@media (max-width: 650px){
    section{
        padding: 90px 4%;
    }
    header{
        padding: 14px 4%;
    }
    header .h-btn{
        display: none;
    }
    .language ul{
        background: none;
        border: none;
    }
    .language ul li :hover{
       background: none;
       transform: translateY(-5%);
    }
    
    .language ul span{
        display: none;
    }
    .language-selected{
       background: none;
    }
    .language-selected span{
        display: none;
    }
    :root{
        --big-font: 3.2rem;
        --h2-font: 1.8rem;
        --p-font: 0.9rem;
    }
    .home-text h4{
        font-size: 1.2rem;
    }
    .count li{
        margin-bottom: 20px;
        font-size: 1rem;
    }
    .count span{
        font-size: 1.2rem;
    }
  
    .travaux a,img{
        width: 450px;
        border-radius: 15px;
        box-shadow: 2px 2px 4px black; 
    }
    .desc{
        width: 400px;
    }
}
@media (max-width: 600px){
    .travaux{
        margin-left: 20px;
    }
}
@media (max-width: 550px){
    .travaux{
        margin: 10px;
    }
}
@media (max-width: 486px){
    section{
        padding: 90px 4%;
    }
    header{
        padding: 12px;
    }
    header .h-btn{
        display: none;
    }
    :root{
        --big-font: 3rem;
        --h2-font: 1.6rem;
        --p-font: 0.7rem;
    }
    .home img{
        display: none;
    }
    .home-text h4{
        font-size: 1.2rem;
    }
    .count li{
        margin-bottom: 20px;
        font-size: 1rem;
    }
    .count span{
        font-size: 1.2rem;
    }
    .travaux{
        margin-left: 5px;
        padding: 0px;
    }
  .travaux img{
   max-width: 300px;
  }
}
